<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
	 <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <!-- jQuery -->
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <!-- Bootstrap-datepicker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.ja.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
	<!-- CSSの読み込み -->
	<link th:href="@{/css/home.css}" rel="stylesheet"></link>
    <link th:href="@{/css/modal.css}" rel="stylesheet"></link>
    <title>ユーザー修正画面</title>
</head>
<body>

<!-- ===== ヘッダー（ナビゲーションバー） =====  -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
    	<div class = "row">

        <div>
            <!-- ログアウト処理 -->
			<form class="col text-center" th:action="@{/logout}" method="post">
				<button class="btn btn-link pull-right navbar-brand" type="submit">ログアウト　　</button>
			</form>
        </div>
        <div>
			<form th:action="@{/user}" method="get">
				<button class="btn btn-link pull-right navbar-brand" type="submit">アカウント設定</button>
			</form>
    	</div>
        <div>
			<form th:action="@{/transition}" method="get">
				<button class="btn btn-link pull-right navbar-brand" name="coronaMeasure" type="submit">コロナ対策について</button>
			</form>
    	</div>
        <div>
			<form th:action="@{/transition}" method="get">
				<button class="btn btn-link pull-right navbar-brand" name="introductionOfRooms" type="submit">各会議室のご案内</button>
			</form>
    	</div>
    	<div>
			<form th:action="@{/transition}" method="get">
				<button class="btn btn-link pull-right navbar-brand" name="priceList" type="submit">料金表</button>
			</form>
    	</div>
        <div>
			<form th:action="@{/rooms}" method="get">
				<button class="btn btn-link pull-right navbar-brand" type="submit">Home</button>
			</form>
    	</div>
        </div>
    </nav>

	<br>
	<br>
	<br>
	<br>

    <div class="container">

        <form method="post" th:action="@{/user}" th:object="${user}" id="Registrationform">
            <table class="table table-bordered table-hover">
                <!-- ユーザーIDの入力エリア -->
                <tr>
                    <th class="active">ユーザID</th>
                    <td class="table-light">
                        <div class="form-group" th:classappend="${#fields.hasErrors('userId')} ? 'has-error'">
                            <input type="text" class="form-control"
                                th:field="*{userId}" />

                            <span class="text-danger"
                                th:if="${#fields.hasErrors('userId')}"
                                th:errors="*{userId}">
                                userId error
                            </span>
                        </div>
                    </td>
                </tr>
                <!-- パスワードの入力エリア -->
                <tr>
                    <th class="active">パスワード</th>
                    <td class="table-light">
                        <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                            <input type="text" class="form-control"
                                th:field="*{password}" />

                            <span class="text-danger"
                            	th:if="${#fields.hasErrors('password')}"
                            	th:errors="*{password}">
                            	password error
                            </span>
                        </div>
                    </td>
                </tr>
                <!-- firstの入力エリア -->
                <tr>
                    <th class="active">名字</th>
                    <td class="table-light">
                        <div class="form-group" th:classappend="${#fields.hasErrors('firstName')} ? 'has-error'">
                            <input type="text" class="form-control"
                                th:field="*{firstName}" />

							 <span class="text-danger"
                            	th:if="${#fields.hasErrors('firstName')}"
                            	th:errors="*{firstName}">
                            	firstName error
                            </span>

                        </div>
                    </td>
                </tr>

                <!-- lastnameの入力エリア -->
                <tr>
                    <th class="active">お名前</th>
                    <td class="table-light">
                        <div class="form-group" th:classappend="${#fields.hasErrors('lastName')} ? 'has-error'">
                            <input type="text" class="form-control"
                                th:field="*{lastName}" />

                            <span class="text-danger"
                            	th:if="${#fields.hasErrors('lastName')}"
                            	th:errors="*{lastName}">
                            	lastName error
                            </span>

                        </div>
                    </td>
                </tr>
                <!-- phoneNumberの入力エリア -->
                <tr>
                    <th class="active">電話番号</th>
                    <td class="table-light">
                        <div class="form-group" th:classappend="${#fields.hasErrors('phoneNumber')} ? 'has-error'">
                            <input type="tel" class="form-control"
                                th:field="*{phoneNumber}" />

                            <span class="text-danger"
                            	th:if="${#fields.hasErrors('phoneNumber')}"
                            	th:errors="*{phoneNumber}">
                            	phoneNumber error
                            </span>

                        </div>
                    </td>
                </tr>
                <!-- zipCodeの入力エリア -->
                <tr>
                    <th class="active">郵便番号</th>
                    <td class="table-light">
                        <div class="form-group" th:classappend="${#fields.hasErrors('zipCode')} ? 'has-error'">
                            <input type="text" class="form-control"
                                th:field="*{zipCode}" />

                            <span class="text-danger"
                            	th:if="${#fields.hasErrors('zipCode')}"
                            	th:errors="*{zipCode}">
                            	lastName error
                            </span>

                        </div>
                    </td>
                </tr>
                <!-- addressの入力エリア -->
                <tr>
                    <th class="active">住所</th>
                    <td class="table-light">
                        <div class="form-group" th:classappend="${#fields.hasErrors('address')} ? 'has-error'">
                            <input type="text" class="form-control"
                                th:field="*{address}" />

                            <span class="text-danger"
                            	th:if="${#fields.hasErrors('address')}"
                            	th:errors="*{address}">
                            	lastName error
                            </span>

                        </div>
                    </td>
                </tr>
            </table>

            <!-- roleNameの値をセット -->
            <input type="hidden" name="roleName" th:value="USER" >

            <div class="col text-center">
            	<!-- ユーザー登録ボタン -->
            	<button class="btn btn-primary" type="submit">ユーザー更新</button>
            </div>
            <br>
        </form>
		<div class="col text-center">
			<h4><a th:href="@{'/rooms'}">会議室一覧に戻る</a></h4>
		</div>
    </div>
</body>
	<script>
			$(function() {
			  // 一旦hide()で隠してフェードインさせる
			  $('h1').hide().fadeIn('slow');
			});
	</script>
</html>