<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-spring-security5">
<head>
<meta charset="UTF-8">
	<title th:text="|${#temporals.format(date, 'yyyy/M/d')}の${room.roomName}|"></title>
	 <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <!-- jQuery -->
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>

    <!-- Bootstrap-datepicker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.ja.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">

	<!-- CSSの読み込み -->
	<link th:href="@{/css/home.css}" rel="stylesheet"></link>
    <link th:href="@{/css/modal.css}" rel="stylesheet"></link>
	<!-- Antonの読み込み -->
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
</head>
<body th:with="user=${#authentication.principal.user}">
	<!-- ===== ヘッダー（ナビゲーションバー） =====  -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
    	<div class = "row">
        <div >
            <!-- ログアウト処理 -->
			<form class="col text-center" th:action="@{/logout}" method="post">
				<button class="btn btn-link pull-right navbar-brand" type="submit">ログアウト　　</button>
			</form>
        </div>
        <div>
			<form th:action="@{/rooms}" method="get">
				<button class="btn btn-link pull-right navbar-brand" type="submit">アカウント設定</button>
			</form>
    	</div>
        <div>
			<form th:action="@{/rooms}" method="get">
				<button class="btn btn-link pull-right navbar-brand" type="submit">コロナ対策について</button>
			</form>
    	</div>
        <div>
			<form th:action="@{/rooms}" method="get">
				<button class="btn btn-link pull-right navbar-brand" type="submit">各会議室のご案内</button>
			</form>
    	</div>
    	<div>
			<form th:action="@{/rooms}" method="get">
				<button class="btn btn-link pull-right navbar-brand" type="submit">Home</button>
			</form>
    	</div>
        <div>
			<form th:action="@{/rooms}" method="get">
				<button class="btn btn-link pull-right navbar-brand" type="submit">about us</button>
			</form>
    	</div>
        </div>
    </nav>

		<!-- 予約が出来なかった場合の処理 -->
		<p style="color: red" th:if="${error != null}" th:text="${error}"></p>

			<div class="container" style="width: 700px; text-align: center;">
			<br/>
			<br/>
			<div>
			  <p>指定日の予約状況を確認の上、ご予約下さい。</p>
			  <p>30分あたり、500円となります。</p>
			  <p>予約可能日は本日から7日までとさせて頂きます。</p>
			</div>
			</div>

			<div class="container">
			<h4>会議室:<span th:text="${room.roomName}"></span>の予約表</h4>
			<!-- 予約済みリスト -->
			 <table class="table table-bordered table-hover" style="background-color: white">
	            <tr>
	                <th class="info col-sm-2">時間帯</th>
	                <th class="info col-sm-2">予約者</th>
	                <th class="info col-sm-2">操作</th>
	            </tr>
	          <tr class="table-light" th:each="reservation : ${reservations}">
					<td><span th:text="${reservation.startTime} + ' ～'"></span>
					 <span th:text="${reservation.endTime}"></span></td>

					<td><span th:text="${reservation.user.lastName}"></span>
					 <span th:text="${reservation.user.firstName} + ' 様'" ></span></td>
					<td>
						<form th:action="@{'/reservations/' + ${date} + '/' + ${roomId}}" method="post"
							sec:authorize="hasRole('ADMIN') or #vars.user.userId == #vars.reservation.user.userId">
							<input type="hidden" name="reservationId" th:value="${reservation.reservationId}" />
							<input type="submit" name="cancel" value="取り消し" />
						</form>
	                </td>
	            </tr>
	        </table>
			</div>

			<br>
			<br/>
			<div class="container" style="width: 700px; text-align: center;">
			<div class="panel panel-default">
        		<div class="panel-heading">予約フォーム</div>
        			<div class="panel-body">
						<form th:object="${reservationForm}" th:action="@{'/reservations/' + ${date} + '/' + ${roomId}}"
							method="post">
							<div class="form-group">
								<br/>
								<label class="control-label">日付: </label>
								<input class="datepicker" autocomplete="off" th:field="*{date}"><br/><br/>
								<button class="btn btn-primary btn btn-default" type="submit" name="schedule" value="指定日の予約状況を検索" >指定日の予約状況を確認</button>
							</div>
						</form>
						<br/>
		<form class="form-signin" th:object="${reservationForm}" th:action="@{'/reservations/' + ${date} + '/' + ${roomId}}"
			method="post">

			<label class="control-label">会議室:</label>
			 <span th:text="${room.roomName}"></span> <br/>
			<label class="control-label">予約者名:</label>
			 <span th:text="${user.lastName + '' + user.firstName}"></span> <br/>
			 <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}" style="color: red">error!</p>
			 <p th:if="${error != null}" th:text="${error}" style="color: red">error!</p>
			<label class="control-label">日付:</label>
			 <input class="datepicker" autocomplete="off" th:field="*{date}"><br/>
			<br/>
			<p th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" style="color: red">error!</p>
			<p th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" style="color: red">error!</p>
			<label class="control-label">時間帯:</label>
				<select th:field="*{startTime}">
					<option th:each="time : ${timeList}" th:text="${time}" th:value="${time}"></option>
				</select>
				<select th:field="*{endTime}">
					<option th:each="time : ${timeList}" th:text="${time}" th:value="${time}"></option>
					<option th:each="time : ${timeList}" th:text="${time}" th:value="${time}"></option>
				</select>

			<br/>
			<hr color="#333333;">

			<!-- 追加備品の選択 -->
			<p>追加備品を選択してください(無料)</p>
			<div class="form-group">
		      <div class="radio-inline">
		        <input class="checkbox style-2 pull-right"  type="checkbox"  value="追加ホワイトボード" name="equipments" id="cash">
		          <label for="additionalWhiteBorad">追加ホワイトボード</label>
		      </div>
		      <div class="radio-inline">
		        <input class="checkbox style-2 pull-right"  type="checkbox"  value="プロジェクタ" name="equipments" id="credit">
		        <label for="projector">プロジェクタ</label>
		      </div>
		      <div class="radio-inline">
		        <input class="checkbox style-2 pull-right"  type="checkbox"  value="スクリーン" name="equipments" id="electronic equipments">
		        <label for="screen">スクリーン</label>
		      </div>
		      <br/>
		      <div class="radio-inline">
		        <input class="checkbox style-2 pull-right"  type="checkbox"  value="音響システム" name="equipments" id="electronic equipments">
		        <label for="audioEquipment">音響システム</label>
		      </div>
		      <div class="radio-inline">
		        <input class="checkbox style-2 pull-right"  type="checkbox"  value="ポータブルマイク" name="equipments" id="electronic equipments">
		        <label for="microphone">ポータブルマイク</label>
		      </div>
		      <div class="radio-inline">
		        <input class="checkbox style-2 pull-right"  type="checkbox"  value="演台" name="equipments" id="electronic equipments">
		        <label for="lectern">演台</label>
		      </div>
		    </div>

			<br/>
			<hr color="#333333;">

			<!-- ケータリングの選択 -->
			<p>ケータリングを選択してください</p>
			<div class="form-group">
		      <div class="radio-inline">
	                <label>
	                <input type="checkbox" name="fd" id="fd1" value="お弁当"  />
	                お弁当（1,000円）</label> ×
	                <select id="fd1n" name="fdn" class="short">
	                  <option value="0">0</option>
	                  <option value="20">20</option>
	                  <option value="30">30</option>
	                  <option value="40">40</option>
	                  <option value="50">50</option>
	                </select>
                </div>
		      <div class="radio-inline">
					<label>
	                 <input type="checkbox" name="fd" id="fd2" value="ポットコーヒー" />
	                 ポットコーヒー（無料）</label> ×
	                 <select id="fd2n" name="fdn" class="short">
	                   <option value="0">0</option>
	                   <option value="1">1</option>
	                   <option value="2">2</option>
	                   <option value="3">3</option>
	                   <option value="4">4</option>
	                   <option value="5">5</option>
	                   <option value="6">6</option>
	                   <option value="7">7</option>
	                   <option value="8">8</option>
	                   <option value="9">9</option>
	                   <option value="10">10</option>
	                   <option value="11">11</option>
	                   <option value="12">12</option>
	                   <option value="13">13</option>
	                   <option value="14">14</option>
	                   <option value="15">15</option>
	                   <option value="20">20</option>
	                   <option value="25">25</option>
	                 </select>
	                 <span id="coffee"></span><br />
                 </div>
		      <div class="radio-inline">
					<label>
                    <input type="checkbox" name="fd" id="fd3" value="お茶ペットボトル" />
                    お茶ペットボトル(170円)</label> ×
                    <select id="fd3n" name="fdn" class="short">
                      <option value="0">0</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                      <option value="50">50</option>
                    </select>
   				</div>
		      <div class="radio-inline">
                    <label>
                    <input type="checkbox" name="fd" id="fd4" value="水ペットボトル" />
                    水ペットボトル(150円)</label> ×
                    <select id="fd4n" name="fdn" class="short">
                      <option value="0">0</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                      <option value="50">50</option>
                    </select>
   				</div>
		    </div>
		    <br/>

			<hr color="#333333;">

			<!-- 決済方法の選択 -->
			<p>決済方法を選択してください</p>
			<span th:if="${#fields.hasErrors('selectedPaymentMethod')}" th:errors="*{selectedPaymentMethod}" style="color: red">error!</span> <br />
			<div class="form-group">
		      <div class="radio-inline">
		        <input type="radio" value="cash" name="money" th:field="*{selectedPaymentMethod}" checked="checked">
		          <label for="cash">現金</label>
		      </div>
		      <div class="radio-inline">
		        <input type="radio" value="credit" name="money" th:field="*{selectedPaymentMethod}">
		        <label for="credit">クレジットカード決済</label>
		      </div>
		    </div>

		    <hr color="#333333;">

			<!-- メール通知の有無 -->
			<div class="form-group">
				<div class="radio-inline">
					<input class="checkbox style-2 pull-right"  type="checkbox"  value="checked" name="inputSingleCheck"  th:field="*{inputSingleCheck}"/>
					<label for="notificatioin">メール通知を受け取る</label><br/>
				</div>
			</div>

			<button class="btn btn-primary btn btn-default" type="submit">予約</button>
		</form>
		</div>
		</div>
		<div>
			<h4><a th:href="@{'/rooms/' + ${date}}">会議室一覧へ戻る</a></h4>
		</div>

		</div>
		<br>

        <div th:if="${booleanResult}">
			<!-- モーダルウィンドウここから -->
			<div id="modal-content">
				<span th:text="${message}"></span>
				<p><a id="modal-close" class="button-link" onclick="modal_onclick_close()" >閉じる</a></p>
			</div>
			<!-- 2番目に表示されるモーダル（オーバーウエィ)半透明な膜 -->
			<div id="modal-overlay" ></div>
			<!-- モーダルウィンドウここまで -->

			<!-- JavaScript -->
			<script type="text/javascript">
			function modal_onclick_close(){
			document.getElementById("modal-content").style.display = "none";
			document.getElementById("modal-overlay").style.display = "none";
			}
			</script>
		 </div>
</body>
		<script type="text/javascript">
			$('.datepicker').datepicker({
			    format: "yyyy/mm/dd",
			    language: 'ja'
			});
		</script>
		<script>
			$(function() {
			  // 一旦hide()で隠してフェードインさせる
			  $('div').hide().fadeIn('slow');
			});
		</script>
</html>
