<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
 	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
	<!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>

    <!-- CSSの読込 -->
	<link th:href="@{/css/home.css}" rel="stylesheet"></link>
	<!-- Antonの読み込み -->
	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <title>ユーザー登録画面</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Registration Page</h1>
        </div>


        <form method="post" th:action="@{/registration}" th:object="${user}" id="Registrationform">
            <table class="table table-bordered table-hover">
                <!-- ユーザーIDの入力エリア -->
                <tr>
                    <th class="active">ユーザID</th>
                    <td class="table-light">
                        <div class="form-group" th:classappend="${#fields.hasErrors('userId')} ? 'has-error'">
                            <input type="text" class="form-control"
                                th:field="*{userId}" />

                            <span class="text-danger"
                                th:if="${#fields.hasErrors('userId')}"
                                th:errors="*{userId}">
                                userId error
                            </span>
                        </div>
                    </td>
                </tr>
                <!-- パスワードの入力エリア -->
                <tr>
                    <th class="active">パスワード</th>
                    <td class="table-light">
                        <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                            <input type="text" class="form-control"
                                th:field="*{password}" />

                            <span class="text-danger"
                            	th:if="${#fields.hasErrors('password')}"
                            	th:errors="*{password}">
                            	password error
                            </span>
                        </div>
                    </td>
                </tr>
                <!-- firstの入力エリア -->
                <tr>
                    <th class="active">名字</th>
                    <td class="table-light">
                        <div class="form-group" th:classappend="${#fields.hasErrors('firstName')} ? 'has-error'">
                            <input type="text" class="form-control"
                                th:field="*{firstName}" />

							 <span class="text-danger"
                            	th:if="${#fields.hasErrors('firstName')}"
                            	th:errors="*{firstName}">
                            	firstName error
                            </span>

                        </div>
                    </td>
                </tr>

                <!-- lastnameの入力エリア -->
                <tr>
                    <th class="active">お名前</th>
                    <td class="table-light">
                        <div class="form-group" th:classappend="${#fields.hasErrors('lastName')} ? 'has-error'">
                            <input type="text" class="form-control"
                                th:field="*{lastName}" />

                            <span class="text-danger"
                            	th:if="${#fields.hasErrors('lastName')}"
                            	th:errors="*{lastName}">
                            	lastName error
                            </span>

                        </div>
                    </td>
                </tr>
                <!-- phoneNumberの入力エリア -->
                <tr>
                    <th class="active">電話番号</th>
                    <td class="table-light">
                        <div class="form-group" th:classappend="${#fields.hasErrors('phoneNumber')} ? 'has-error'">
                            <input type="tel" class="form-control"
                                th:field="*{phoneNumber}" />

                            <span class="text-danger"
                            	th:if="${#fields.hasErrors('phoneNumber')}"
                            	th:errors="*{phoneNumber}">
                            	phoneNumber error
                            </span>

                        </div>
                    </td>
                </tr>
                <!-- zipCodeの入力エリア -->
                <tr>
                    <th class="active">郵便番号</th>
                    <td class="table-light">
                        <div class="form-group" th:classappend="${#fields.hasErrors('zipCode')} ? 'has-error'">
                            <input type="text" class="form-control"
                                th:field="*{zipCode}" />

                            <span class="text-danger"
                            	th:if="${#fields.hasErrors('zipCode')}"
                            	th:errors="*{zipCode}">
                            	lastName error
                            </span>

                        </div>
                    </td>
                </tr>
                <!-- addressの入力エリア -->
                <tr>
                    <th class="active">住所</th>
                    <td class="table-light">
                        <div class="form-group" th:classappend="${#fields.hasErrors('address')} ? 'has-error'">
                            <input type="text" class="form-control"
                                th:field="*{address}" />

                            <span class="text-danger"
                            	th:if="${#fields.hasErrors('address')}"
                            	th:errors="*{address}">
                            	lastName error
                            </span>

                        </div>
                    </td>
                </tr>
            </table>

            <input type="hidden" name="roleName" th:value="USER" >

            <div class="col text-center">
            	<!-- ユーザー登録ボタン -->
            	<button class="btn btn-primary" type="submit">ユーザー登録</button>
            </div>
            <br>
            <div class="col text-center">
            	<!-- ログイン画面へのリンク -->
   	 			<a th:href="@{'/loginForm'}"><button class="btn btn-primary btn-sm" type="button">ログイン画面に戻る</button></a>
            </div>
        </form>
    </div>
</body>
	<script>
			$(function() {
			  // 一旦hide()で隠してフェードインさせる
			  $('h1').hide().fadeIn('slow');
			});
	</script>
</html>