@charset "UTF-8";

body {
  padding-top: 50px;
  background-image: url("https://publicdomainq.net/images/201708/29s/publicdomainq-0012742nxu.jpg");
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
}